﻿@model PetStore.Models.ViewModels.Error.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div style="text-align:center">
    <h1 class="text-danger">Error @Model.StatusCode</h1>
    <h2 class="text-danger">@Model.Message</h2>
</div>
