﻿@model PetStore.Models.ViewModels.Account.AccountLoginViewModel;

@{
    ViewBag.Title = "Login";
}


<div class="row ml-5 mr-5">
    <div class="col-sm-4 offset-4">
        <h1>Login</h1>
    </div>
    
    <div class="col-sm-4 offset-4">
        <form method="post" asp-route="Login">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
