﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Purchase Confirmation";
}

<div class="w-100" style="text-align:center">
    <h3 style="color:forestgreen">Successful purchase</h3>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $.removeCookie('CART', { path: '/' });
                $("#cart-items-count").html("0");
            });
            $
        </script>
    }
</div>
