﻿@model PetStore.Models.ViewModels.Purchases.PurchasesCreateViewModel;

@{
    ViewData["Title"] = "Cart";
}

@if (Model.Toys.Count() == 0)
{
    <div style="text-align:center">
        <h2>Cart is Empty</h2>
    </div>

}
else
{
    <div class="pet-store-cntainer ml-5 mr-5">
        <form asp-route="Purchase.Store" method="post">
            <div>
                <div class="container">
                    <div class="text-danger" asp-validation-summary="All"></div>

                    <div class="form-group row p-0 m-1">
                        <label asp-for="PurchaserFirstName" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input asp-for="PurchaserFirstName" class="form-control" placeholder="First Name" />
                            <span asp-validation-for="PurchaserFirstName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row p-0 m-1">
                        <label asp-for="PurchaserLatsName" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input asp-for="PurchaserLatsName" class="form-control" placeholder="Last Name" />
                            <span asp-validation-for="PurchaserLatsName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row p-0 m-1">
                        <label asp-for="PurchaserAddress" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <input asp-for="PurchaserAddress" class="form-control" placeholder="Address" />
                            <span asp-validation-for="PurchaserAddress" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row p-0 m-1">
                        <label asp-for="PurchaserCardNumber" class="col-sm-2 col-form-label">Card Number</label>
                        <div class="col-sm-10">
                            <input asp-for="PurchaserCardNumber" class="form-control" placeholder="Card Number" />
                            <span asp-validation-for="PurchaserCardNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="d-flex justify-content-end mr-3">
                            <button type="submit" class="btn btn-primary">Purchase</button>
                        </div>
                    </div>
                    @if (!Model.Successful)
                    {
                        <div style="text-align:center">
                            <h5 class="text-danger">@Model.Message</h5>
                        </div>
                    }

                </div>

                <div class="row ml-5">
                    @for (int i = 0; i < Model.Toys.Count; i++)
                    {
                        <input asp-for="@Model.PurchesCartItems[i].ItemId" value="@Model.Toys[i].Id" hidden />

                        <div class="card col-md-2 m-2" style="width: 18rem;">
                            <input asp-for="@Model.PurchesCartItems[i].IsChecked"
                                   type="checkbox"
                                   id="cart-item-@Model.Toys[i].Id"
                                   data="@Model.Toys[i].Id"
                                   class="scale-double cart-item"
                                   style="position:absolute; top:1px; right:1px;" />

                            <img asp-append-version="true"
                                 src="@Url.Content("~/images/items/")@Model.Toys[i].Image"
                                 style="width: 100%; height: 30vh; object-fit: contain;"
                                 class="card-img-top"
                                 alt="Item image">

                            <div class="card-body p-1">
                                <div class="d-inline">
                                    <div style="white-space:nowrap; overflow:hidden">
                                        <a asp-controller="Toys"
                                           asp-action="Details"
                                           asp-route-id="@Model.Toys[i].Id"
                                           title="@Model.Toys[i].Name">
                                            @Model.Toys[i].Name
                                        </a>
                                    </div>
                                    <div>
                                        <label style="font-size:18px; font-weight:bold" class="mb-0">
                                            US $@Model.Toys[i].CurrentPrice.Amount
                                        </label>
                                        <label class="mb-0">/@Model.Toys[i].ItemUnit</label>
                                    </div>
                                    <div style="white-space:nowrap; overflow:hidden; margin-bottom: 3px;">
                                        <h6 class="card-text m-0">In Stock: @Model.Toys[i].InStock</h6>
                                    </div>
                                    <div class="form-group mt-2" style="display:inline-flex">
                                        <label asp-for="@Model.PurchesCartItems[i].Quantity" class="control-label pr-2">Number of toys: </label>
                                        <input asp-for="@Model.PurchesCartItems[i].Quantity"
                                               style="width:50px; padding:0; height:inherit"
                                               class="form-control"
                                               type="number"
                                               value="1"
                                               min="1"
                                               max="@Model.Toys[i].InStock" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
}




