﻿@model PetStore.Models.ViewModels.Purchases.PurchasesIndexViewModel

@{
    ViewData["Title"] = "Purchases";
}

<div class="row ml-5  mr-5">
    @foreach (var purchase in Model.Purchases)
    {
        <div class="w-100 border border-success rounded mb-2 mr-5 ml-5">
            <div class="row ml-2" style="font-size:20px">
                <div class="col-sm-3">@purchase.DateTime</div>
                <div class="col-sm-3 border-left">@purchase.PurchaserFirstName @purchase.PurchaserLatsName</div>
                <div class="col-sm-3 border-left">@purchase.PurchaserAddress</div>
                <div class="col-sm-3 border-left" style="margin-left:auto">$@purchase.Total</div>
            </div>
            @foreach (var itemPurchase in purchase.ItemPurchases)
            {
                <div class="row ml-5 mr-5 border-bottom" style="color:black; font-size:17px;">
                    <div class="col-sm-10">
                        @if (itemPurchase.Item.DeletedAt == null)
                        {
                            <a asp-route="PetToys.Details"
                               asp-route-id="@itemPurchase.ItemId"
                               title="@itemPurchase.Item.Name">
                                @itemPurchase.Item.Name
                            </a>
                        }
                        else
                        {
                            <label class="m-0" style="color:dimgray;" title="Deleted">@itemPurchase.Item.Name</label>
                        }

                        X @itemPurchase.Quantity
                    </div>
                    <div class="l-smsm-2">$@(itemPurchase.Price.Amount * itemPurchase.Quantity)</div>
                </div>
            }
        </div>
    }
</div>
<div class="m-5" style="text-align:center">
    <form asp-action="Index" method="get" style="display:none">
        <input id="index-pagination-input" name="page" type="number" min="1" max="@Model.MaxPage" value="@Model.CurrentPage" />
        <button id="pagination-form-btn" type="submit"></button>
    </form>
    <button id="index-pagination-prev" class="btn btn-primary mr-2">&lt Prev</button>
    <button id="index-pagination-next" class="btn btn-primary ml-2">Next &gt;</button>
</div>

@section Scripts{
    <script src="~/js/pagination.js" asp-append-version="true"></script>
}
