﻿@inject SignInManager<IdentityUser> signInManager;
@model PetStore.Models.ViewModels.Toys.ToysDetailsViewModel;
@{
    ViewData["Title"] = "Pet Toys - Details";
}

<div class="pet-store-cntainer">
    <div class="card m-auto" style="width: 25rem;">
        @if (!signInManager.IsSignedIn(User))
        {
            <input id="cart-item-@Model.Toy.Id"
                   data="@Model.Toy.Id"
                   class="scale-double cart-item"
                   style="position:absolute; top:1px; right:1px;" type="checkbox" />
        }

        <img class="card-img-top" asp-append-version="true"
             src="@Url.Content("~/images/items/")@Model.Toy.Image"
             alt="No image"
             style="width: 100%; height: 57vh; object-fit: contain;">
        <div class="card-body p-3">
            <div class="d-inline">
                <div style="white-space:nowrap; overflow:hidden">
                    <a asp-controller="Toys" asp-action="Details" asp-route-id="@Model.Toy.Id" title="@Model.Toy.Name">@Model.Toy.Name</a>
                </div>
                <div>
                    <label style="font-size:18px; font-weight:bold" class="mb-0">US $@Model.Toy.CurrentPrice.Amount </label>
                    <label class="mb-0">/@Model.Toy.ItemUnit</label>
                </div>
                <div style="white-space:nowrap; overflow:hidden; margin-bottom: 3px;">
                    <h6 class="card-text m-0">In Stock: @Model.Toy.InStock</h6>
                </div>
                <p>@Model.Toy.Description</p>
            </div>
            @if (signInManager.IsSignedIn(User))
            {
                <div>
                    <a asp-controller="Toys" asp-action="Edit" asp-route-id="@Model.Toy.Id" class="btn btn-primary a-btn-slide-text">Edit</a>
                    <a asp-controller="Toys" asp-action="Delete" asp-route-id="@Model.Toy.Id" class="btn btn-danger a-btn-slide-text">Delete</a>
                </div>
            }
        </div>
    </div>
</div>
