﻿@model PetStore.Models.ViewModels.Toys.ToysEditViewModel

@{
    ViewBag.Title = "Create Content";
}

<div class="container">
    <form enctype="multipart/form-data" asp-controller="Toys" asp-action="Edit" method="post" class="mt-3">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <input hidden="hidden" asp-for="Id" class="form-control" placeholder="Id" />
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input asp-for="Description" class="form-control" placeholder="Description" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ItemUnit" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select class="custom-select mr-sm-2" asp-for="ItemUnit" asp-items="Html.GetEnumSelectList<PetStore.Enums.ItemUnits>()">
                </select>
                <span asp-validation-for="ItemUnit" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input asp-for="Price" class="form-control" placeholder="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="InStock" class="col-sm-2 col-form-label">In Stock</label>
            <div class="col-sm-10">
                <input asp-for="InStock" class="form-control" />
                <span asp-validation-for="InStock" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ImageFile" class="col-sm-2 col-form-label">Image</label>
            <div class="col-sm-10">
                <divs class="custom-file">
                    <input type="file" asp-for="ImageFile" class="form-control custom-file-input" />
                    <label class="custom-file-label">Choose File...</label>
                </divs>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>

        @section Scripts{
            <script>
                $(document).ready(function () {
                    $(".custom-file-input").on("change", function () {
                        let fileName = $(this).val().split("\\").pop();
                        if (fileName) {
                            $(this).next(".custom-file-label").html(fileName);
                        } else {
                            $(this).next(".custom-file-label").html("Chose File...");
                        }
                    });
                });
            </script>
        }

    </form>
</div>
