﻿@inject SignInManager<IdentityUser> signInManager;
@model PetStore.Models.ViewModels.Toys.ToysIndexViewModel;

@{
    ViewData["Title"] = "Toys";
}

<div class="row ml-5 mr-5">
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@Model.SearchString" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
</div>
<div class="pet-store-cntainer">
    <div class="row ml-5 mr-5">
        @foreach (var item in Model.CurrentPageToys)
        {
            <div class="card col-md-2 m-2" style="width: 18rem;">
                @if (!signInManager.IsSignedIn(User))
                {
                    <input id="cart-item-@item.Id"
                           data="@item.Id"
                           class="scale-double cart-item"
                           style="position:absolute; top:1px; right:1px;" type="checkbox" />
                }

                <img class="card-img-top" asp-append-version="true"
                     src="@Url.Content("~/images/items/")@item.Image"
                     alt="No image"
                     style="width: 100%; height: 30vh; object-fit: contain;">
                <div class="card-body p-1">
                    <div class="d-inline">
                        <div style="white-space:nowrap; overflow:hidden">
                            <a asp-controller="Toys" asp-action="Details" asp-route-id="@item.Id" title="@item.Name">@item.Name</a>
                        </div>
                        <div>
                            <label style="font-size:18px; font-weight:bold" class="mb-0">US $@item.CurrentPrice.Amount </label>
                            <label class="mb-0">/@item.ItemUnit</label>
                        </div>
                        <div style="white-space:nowrap; overflow:hidden; margin-bottom: 3px;">
                            <h6 class="card-text m-0">In Stock: @item.InStock</h6>
                        </div>
                    </div>
                    <div>
                        @if (signInManager.IsSignedIn(User))
                        {
                            <a asp-controller="Toys" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary a-btn-slide-text">Edit</a>
                            <a asp-controller="Toys" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger a-btn-slide-text">Delete</a>
                        }

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="m-5" style="text-align:center">
    <form asp-action="Index" method="get" style="display:none">
        <input id="index-pagination-input" name="page" type="number" min="1" max="@Model.MaxPageNumber" value="@Model.CurrentPageNumber" />
        <button id="pagination-form-btn" type="submit"></button>
    </form>
    <button id="index-pagination-prev" class="btn btn-primary mr-2">&lt Prev</button>
    <button id="index-pagination-next" class="btn btn-primary ml-2">Next &gt;</button>
</div>

@section Scripts{
    <script src="~/js/pagination.js" asp-append-version="true"></script>
}





